body,html {
    background-color: black;
<<<<<<< HEAD
}

footer {
    padding: 250px;
    display: flex;
    justify-content: space-between;

    
=======
>>>>>>> 78b15c328d93098c510f78925f8f9d9f400cd31f
}